body {
  background-color: #EEF1FF
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #D8D8D8;
  width: 4%;
  height: 50px;
}
h1{
  color: #525252;
}
h2 {
    color: #525252;
}
h3 {
    color: #06283D;
}
h4 {
  color: #06283D;
}
body{
  color: #374045;
}
